@model IEnumerable<Kino.Models.Gatunki>

@{
    ViewData["Title"] = "Index";
}

<h1>Gatunki</h1>

<p>
    <a asp-action="Create">Dodaj Nowy</a>
</p>
<p>
    <a asp-action="Create" asp-controller="Filmies">Dodaj film do repertuaru</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gatunek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gatunek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_gatunku">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_gatunku">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
